@inherits LayoutComponentBase
@using CleanArchitecture.Blazor.Server.UI.Constants
@using CleanArchitecture.Blazor.Server.UI.Services.JsInterop
<PageTitle>@ApplicationSettings.AppName</PageTitle>
<div>
    @Body
</div>


@code
{

}
